.topbar {
  position: absolute;
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
}

.div1 {
  width: 13vw;
  height: 15vh;
  background-color: #495464;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #E8E8E8;
  border-radius: 20px;
  margin: 10px;
}

.div2 {
  width: 77vw;
  height: 15vh;
  background-color: #E8E8E8;
  display: flex;
  align-items: center;
  font-size: 1vw;
  border-radius: 20px;
  margin: 10px;
}

.div3 {
  width: 8vw;
  height: 15vh;
  display: flex;
  align-items: center;
  font-size: 1vw;
}

.logout {
  width: 80px;
  height: 45px;
  margin-left: 30px;
  background-color: #495464;
  border: 0;
  line-height: 45px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}