.sidelink {
  width: 12vw;
  height: 77vh;
  background-color: #E8E8E8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;  
  margin : 10px;
}

.main {
  position: relative;
  left: 8vw;
  top:4vh
}

.search {
  position: relative;
  left: 24vw;
  margin-left: 10px;
  height: 25px;
}

.select {
  position: relative;
  left: 24vw;
  height: 30px;
}

.orderContent {
  display: flex;
  flex-direction: column;
  width: 79vw;
  position: relative;
  right: 7vw;
  margin-top: 20px;
}

.orderTable {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #f4f4f4;
}

.orderTable tr:hover {
  cursor: pointer;
  background-color: #E8E8E8;
}

.orderTable th,
.orderTable td {
  padding: 8px;
  border: 1px solid #f4f4f4;
  text-align: center;
  height: 25px;
  font-size: 13px;
}

.orderTable td {
  white-space: nowrap;
  overflow: hidden;
  max-width: 40px;
  text-overflow: ellipsis;
}

.orderTable th {
  background-color: #f4f4f4;
}

.proudctContent {
  display: flex;
  flex-direction: column;
  width: 79vw;
  position: relative;
  right: 7vw;
  margin-top: 20px;
}

.proudctTable {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #f4f4f4;
  table-layout: fixed;
}

.proudctTable tr:hover {
  cursor: pointer;
  background-color: #E8E8E8;
}

.proudctTable th,
.proudctTable td {
  padding: 8px;
  border: 1px solid #f4f4f4;
  text-align: center;
  max-height: max-content;
  font-size: 13px;
  white-space: normal; /* 텍스트가 칸을 벗어날 경우 줄 바꿈 */
  word-wrap: break-word;
}

.proudctTable tr > th:nth-child(5) {
  width: 25vw;
}


.proudctTable tr > td:nth-child(5) {
  width: 25vw;
}

.proudctTable th {
  background-color: #f4f4f4;
}

.subTable {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #f4f4f4;
  table-layout: fixed;
}

.subTable tr:hover {
  cursor: pointer;
  background-color: #E8E8E8;
}

.subTable th,
.subTable td {
  padding: 8px;
  border: 1px solid #f4f4f4;
  text-align: center;
  max-height: max-content;
  font-size: 13px;
  white-space: normal; /* 텍스트가 칸을 벗어날 경우 줄 바꿈 */
  word-wrap: break-word;
}

.subTable tr > th:nth-child(6) {
  width: 10vw;
}

.subTable tr > td:nth-child(5) {
  width: 25vw;
}

.subTable th {
  background-color: #f4f4f4;
}

.paginationButton {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  border: none;
  width: 25px;
  height: 25px;
  margin-left: 3px;
  background-color: #BBBFCA;
  line-height: 20px;
  border-radius: 2px;
  position: relative;
  left: 34vw;
  margin-top: 20px;

  &.active {
    background-color: #495464;
  }
}

.addSubscription {
  width: 65vw;
  position: relative;
  bottom: 2vh;
  right: 4vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.addButton {
  width: 50px;
  height: 30px;
  background-color: #495464;
  border: 0;
  line-height: 30px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  left: 67vw;
}

.corrButton {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  border: none;
  width: 35px;
  height: 25px;
  background-color: #495464;
  line-height: 20px;
  border-radius: 2px;
  margin-right: 5px;
}

.delButton {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  border: none;
  width: 55px;
  height: 25px;
  background-color: #495464;
  line-height: 20px;
  border-radius: 2px;
  margin-right: 5px;
  margin-top: 5px;
}
.button {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 25px;
  background-color: #495464;
  line-height: 20px;
  border-radius: 2px;
}

.addInput {
  margin-right: 4px;
  margin-left: 2px;
  width: 90px;
}

.editingRow {
  background-color: #E8E8E8;
}

.truncate {
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filter {
  margin-left: 5px;
}

.modal {
  display: none;
  position: fixed;
  top: 54%;
  left: 53%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 55vw;
  height: 74vh;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px;

  &.show {
    display: block;
  }
}

.modalContent {
  height: 68vh;
  width: 52vw;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.infoTable {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  overflow: auto;
}

.infoTable td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
  // height: 8px;
}


.infoTable td:first-child {
  text-align: center;
  font-weight: bold;
  width: 100px;
  background-color: #f2f2f2;
}

.close {
  position: absolute;
  top: -9px;
  right: 8px;
  font-size: 40px;
  cursor: pointer;
}

.orderTable th:nth-child(9){
  width: 120px;
}

.addText{
  height: 12vh;
}