.sidelink {
  font-size: 2vw;
  width: 20vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  right: 9vw;
  text-align: center;
}


.title {
  position: relative;
  left: 31vw;
}

.search {
  position: relative;
  left: 29vw;
  margin-left: 10px;
  height: 25px;
}

.select {
  position: relative;
  left: 29vw;
  height: 30px;
}

.qnaContent {
  display: flex;
  flex-direction: column;
  margin-right: 20vw;
  width: 70vw;
  position: relative;
  margin-top: 20px;
  box-sizing: border-box;
}

.qnaTable {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #f4f4f4;
}

.qnaTable th,
.qnaTable td {
  padding: 8px;
  border: 1px solid #f4f4f4;
  text-align: center;
  max-width: 400px;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.qnaTable th {
  background-color: #f4f4f4;
  font-size: 1.2rem;
}

.pagination {
  display: flex;
}

.paginationButton {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  border: none;
  width: 25px;
  height: 25px;
  margin-left: 3px;
  background-color: #BBBFCA;
  line-height: 20px;
  border-radius: 2px;
  position: relative;
  left: 33vw;
  margin-top: 20px;

  &.active {
    background-color: #495464;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 40%;
  left: 38%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 50vw;
  height: 70vh;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px;

  &.show {
    display: block;
  }
}

.modalContent {
  height: 66vh;
  width: 48vw;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.info {
  display: flex;
  border: 1px solid #495464;
  margin: 30px 0 20px 0;
}

.id,
.email {
  border: 1px solid #495464;
  text-align: center;
  line-height: 50px;
  height: 50px;

}

.id {
  width: 200px;
}

.email {
  width: 350px;
}

.modalTitle {
  width: 800px;
  height: 50px;
  border: 2px solid #495464;
  overflow: auto;
  margin-bottom: 1px;
  line-height: 50px;
  overflow: auto;
  white-space: wrap;
  word-break: break-all;
  padding: 5px;
}

.content {
  width: 800px;
  height: 200px;
  border: 2px solid #495464;
  margin-bottom: 10px;
  overflow: auto;
  white-space: wrap;
  word-break: break-all;
  padding: 5px;
}

.reply {
  width: 800px;
  height: 150px;
  border: 2px solid #495464;
  overflow: auto;
  white-space: wrap;
  word-break: break-all;
  margin-bottom: 10px;
  padding: 5px;


}

.replyInput {
  width: 740px;
  height: 150px;
  border: 2px solid #495464;
  overflow: auto;
  margin-right: 20px;
  overflow: auto;
  white-space: wrap;
  word-break: break-all;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
}

.replyButton {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 25px;
  background-color: #495464;
  line-height: 20px;
  border-radius: 2px;
  margin-right: 5px;
}