.sidelink {
  width: 12vw;
  height: 77vh;
  background-color: #E8E8E8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;  
  margin : 10px;
}

.main {
  position: relative;
  left: 10vw;
  top:3vh
}

.select {
  position: relative;
  left: 25vw;
  width: 90px;
  height: 40px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 15px;
  line-height: 40px;
  margin: 10px 0 10px 0;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.graph {
  position: relative;
  right: 9vw;
  width: 75vw;
}