.linkbox{
  width:11vw;
  position: relative;
  text-decoration: none;
  color: #495464;
  font-size: 1.3rem;
  text-align: center;
}
.activeLink{
  background-color: #F5F5F5;
  border-radius: 10px;
}