.swipercontainer{
  width:40vw;
  height:70vh;
}
.slider{
  width:40vw;
  height:70vh;
}
.swiperslider{
  width:35vw;
  height:55vh;
  display:flex;
}
.styles.card{
  width:25vw;
  height:55vh;
}
.image{
  width:25vw;
  height: 55vh;
  position: relative;
  border-radius: 5%;
}