.swipercontainer{
  width:40vw;
  height:70vh;
}
.slider{
  width:40vw;
  height:70vh;
}
.swiperslider{
  width:35vw;
  height:60vh;
}
.styles.card{
  width:35vw;
  height:60vh;
}
.image{
  width:35vw;
  height:60vh;
  position: relative;
  border-radius: 5%;
}