.root{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  width:100vw;
  height:100vh;
}
.top{
  width:100vw;
  height:15vh;
  background-color: lightgray;
}
.main{
  width:100vw;
  height:85vh;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.marginRight {
  margin-right: 50px;
}

.marginTop {
  margin-top: 20px;
}

.width {
  width: 30vw;
}

.flex {
  display: flex;
}

.flexSet{
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.spaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.paddingLeft {
  padding-left: 22px;
}

.whiteBgc {
  background-color: #fff;
  width: 30vw;
  height: 30vh;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 800px;
  min-height : 600px;
  max-width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #aaa;
}