.root{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  width:100vw;
  height:100vh;
}
.top{
  width:100vw;
  height:15vh;
  background-color: lightgray;
}
.main{
  width:100vw;
  height:85vh;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.marginRight {
  margin-right: 50px;
}

.marginTop {
  margin-top: 20px;
}

.width {
  width: 30vw;
}

.flex {
  display: flex;
}

.flexSet{
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.spaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.paddingLeft {
  padding-left: 22px;
}

.whiteBgc {
  background-color: #fff;
  width: 30vw;
  height: 30vh;
}