@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap');

.main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Noto Sans', sans-serif;
}

.content {
  width: 100vw;
  height: 80vh;
  background-color: white;
  display: flex;
  border-radius: 20px;
  position: relative;
  margin-top: 17vh;
  // margin-left: 10vw;
}