.footbar{
  width:100vw;
  height:50vh;
  display:flex;
  flex-direction: column;
  background-color:#D2E3C8;
  color:#304D30;
}

.footdiv2{
  width:100vw;
  height:40vh;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.suvdiv1{
  width:23vw;
  height:30vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:5vw;
  font-weight: 900;
}
.suvdiv2{
  font-size:1rem;
  width:50vw;
  height:30vh;
  line-height:120%;
}
.footdiv3{
  width:100vw;
  height:10vh;
  border-top:2px solid lightgray;
  display:flex;
  justify-content: space-around;
}
.suvdiv3{
  width:50vw;
  height:10vh;
  font-size:1vw;
}
.suvdiv4{
  width:20vw;
  height:10vh;
  display:flex;
}

.logo{
  margin : 10px;
  height: 50%;
  border-radius: 3px;
}
