.root{
  width:100vw;
  height:60vh;
  display:flex;
}
.infobox{
  width:50vw;
  height:70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#B6C4B6;
  background-color: #304D30;
  box-sizing: border-box;
  padding: 30px;
  
  .container{
    width:40vw;
    height:55vh;
    display: flex;
    flex-direction: column;
  }
  .title{
    width:20vw;
    height:10vh;
    color:#D2E3C8;
    font-size: 2rem;
  }
  .info{
    width:35vw;
    height:45vh;
    font-size: 1rem;
  }
  button{
    margin-top: 20px;
    width:100px;
    height:40px;
    border: 0;
    background-color: #D2E3C8;
    color: #304D30;
    cursor:pointer;
  }
}
.imagebox{
  width:50vw;  
  height:70vh;
  display:flex;
  position: relative;
  z-index: 0;
}