.main{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  display:flex;
}
.side{
  width: 20vw;
  height: 100vh;
  background-color: lightgray;
  color: lightblue
}
.content{
  width:80vw;
  height:100vh;
  background-color: bisque;
}