  .root{
    display: flex;
    width:100vw;
    height:88vh;
    margin:0;
    padding-top: 5vh;
    box-sizing: border-box;
    justify-content: space-around;
  }
  .productbox{
    width: 30vw;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .userbox{
    width: 40vw;
    height:80vh;
    display: flex;
    flex-direction: column;
  
  }
