.search {
  height: 25px;
  position: relative;
  left: 3.5vw;
}

.titleD {
  border-bottom: solid 3px #222222;
  height: 100px;
  margin-bottom: 20px;
}

.title {
  font-size: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  height: 30px;
  position: relative;
  left: 2.5vw;
}

.addButton {
  width: 120px;
  height: 40px;
  background-color: black;
  border: 0;
  line-height: 40px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
  position: relative;
  left: 25vw;
  border-radius: 30px;
}

.qnaContent {
  display: flex;
  flex-direction: column;
  width: 70vw;
  position: relative;
  margin-top: 30px;
  box-sizing: border-box;
}

.qnaTable {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 0;
    padding: 10px;
    height: 40px;
    text-align: center;
    font-size: 19px;
  }

  th {
    border-top: 2px solid #555;
    text-align: center;
  }

  tbody tr:hover {
    cursor: pointer;
    background-color: #E8E8E8;
  }

  td {
    border-top: 1px solid #ddd;
  }

  td:nth-child(2),
  td:nth-child(4),
  td:nth-child(5) {
    color: #555;
  }
}

.qnaTable th:nth-child(1),
.qnaTable td:nth-child(1) {
  width: 50px;
  font-weight: bold;
}

.qnaTable th:nth-child(2) {
  width: 700px;
}

.qnaTable td:nth-child(2) {
  text-align: left;
  padding-left: 50px;
}

.qnaTable td:nth-child(3),
.qnaTable td:nth-child(4),
.qnaTable td:nth-child(5) {
  color: #aaaaaa;
}

.paginationButton {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  border: none;
  width: 25px;
  height: 25px;
  margin-left: 3px;
  background-color: #BBBFCA;
  line-height: 20px;
  border-radius: 2px;
  position: relative;
  left: 33vw;
  margin-top: 20px;

  &.active {
    background-color: #495464;
  }
}

.qnaButton {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 25px;
  background-color: #495464;
  line-height: 20px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 55vw;
  height: 74vh;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px;

  &.show {
    display: block;
  }
}

.modalContent {
  height: 68vh;
  width: 52vw;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.infoTable {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  overflow: auto;
  max-width: 1000px;
  word-wrap: break-word;
  word-break: break-all;
}

.infoTable th,
.infoTable td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
  overflow: auto;
}

.infoTable th {
  text-align: center;
  font-weight: bold;
  width: 100px;
  background-color: #f2f2f2;
  height: 30px;
  /* 고정된 높이 */
}

.close {
  position: absolute;
  top: 7px;
  right: 17px;
  font-size: 43px;
  cursor: pointer;
}

.infoTable tr:nth-child(1) td:nth-child(1),
.infoTable tr:nth-child(1) td:nth-child(3),
.infoTable tr:nth-child(1) td:nth-child(5) {
  background-color: #f2f2f2;
  height: 40px;
  font-weight: bold;
  text-align: center;
}

.infoTable tr:nth-child(1) td:nth-child(2),
.infoTable tr:nth-child(1) td:nth-child(4),
.infoTable tr:nth-child(2) td:nth-child(2),
.infoTable tr:nth-child(2) td:nth-child(4) {
  width: 250px;
}

.infoTable tr:nth-child(3) td {
  height: 40px;
  text-align: center;
}

.wirteTable {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  overflow: auto;
  max-width: 1000px;
  word-wrap: break-word;
  word-break: break-all;
}

.wirteTable td {
  padding: 5px;
  text-align: center;
  overflow: auto;
}

.wirteTable tr:nth-child(2)>td {
  height: 80px;
}

.wirteTable tr:nth-child(3)>td {
  height: 440px;
}

.writePassword {
  font-size: 15px;
  color: #222222;
  width: 160px;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 5;
  font-size: 18px;
}

.writePassword::placeholder {
  color: #aaaaaa;
  text-align: center;
}

.writePassword:focus {
  outline: none;
}

.writeTitle {
  font-size: 15px;
  color: #222222;
  width: 900px;
  border: none;
  border: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 5;
  font-size: 19px;
  line-height: 30px;

}

.writeTitle::placeholder {
  color: #aaaaaa;
  text-align: center;
}

.writeTitle:focus {
  outline: none;
}

.writeContent {
  font-size: 15px;
  color: #222222;
  width: 900px;
  border: none;
  border: solid #aaaaaa 1px;
  padding: 10px;
  position: relative;
  background: none;
  z-index: 5;
  font-size: 19px;
  height: 400px;
}

.writeContent::placeholder {
  color: #aaaaaa;
  text-align: center;
}

.writeContent:focus {
  outline: none;
}

.delButton {
  position: relative;
  left: 460px;
  border: 0;
  width: 90px;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
}