.sidemenu{
  width: 13vw;
  height: 85vh;
  display: flex;
  color: brown;
}

.sidelink{
  font-size: 1.5rem;
  width:15vw;
  height:87vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  a{
    color: brown;
    text-decoration: none;
    
  }

  a:hover{
    background-color: navy;
  }

}