.image{
  width:25vw;
  height:60vh;
  position: relative;
  border-radius: 5%;
  border: 5px;
}

.imageContainer{
  display: flex;
  height: 46vh;
  width: 50vw;
  align-items: center;
 }

 .imagebox{
  width:18vw;
  height:38vh;
  position: relative; 
  margin-right: 2vw;
 }


.main{
  width:100vw;
  height:83vh;
  margin-top: 4vh;
  display: flex;
  paddiNg:0;
}

.subinfo{
  width: 30vw;
  height: 75vh;
  display:flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 6vw;
  margin-right: 6vw;
}
.choicebox{
  width:60vw;
  height:75vh;
  display: flex;
  flex-direction: column;
  

  select{
    width:30vw;
    height:4vh;
    margin-top: 0vh;
    margin-bottom: 4vh;
  }
}

.input{
  background-color: #f6f1eb;
  color: #135206;
  border-radius: 20px;
}

.button{
  width:30vw;
  height:4vh;
  background-color: #f6f1eb;
  color: #135206;
  border-radius: 20px;
}