.swipercontainer{
  width:98vw;
  height:80vh;
}

.swiperslider{
  width:98vw;
  height:80vh;
  position: relative;
}
.image{
  width:20vw;
  height:60vh;
  position: relative;
}
.card{
  width:20vw;
  margin-left: 2vw;
  margin-right: 3vw;
}