.swipercontainer{
  width:98vw;
  height:80vh;
  box-sizing: border-box;
}

.swiperslider{
  width:97vw;
  height:80vh;
}
.title > h1{
  position: relative;
  top: 10vh;
  left: 5vw;
  font-size: 900;
}

.title > p{
  position: relative;
  top: 10vh;
  left: 5vw;
}
.image{
  width:18vw;
  height:50vh;
  border-radius: 5%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: relative;
}
.card{
  width:20vw;
  margin-left: 3vw;
  border-radius: 5%;
  margin-top: 15vh;
  p{
    text-align: center;
    font-weight: bold;
  }
}