.main{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  display:flex;
  flex-wrap: wrap;
}
.topbar{
  background-color:gray;
  width:100vw;
  height:15vh;
}
.content{
  width:100vw;
  height:85vh;
  background-color: bisque;
 }