.root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.width {
  width: 500px
}

.margin {
  margin-bottom: 15px;
}

.height {
  height: 300px
}