.topbar {
  background-color: red;
  position: absolute;
  width: 100vw;
  height: 15vh;
  opacity: 0.3;
  display:flex;
  justify-content: space-between;
}

.div1 {
  width:10vw;
  height:15vh;
  background-color: lightblue;
  font-size:2vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.div2 {
  width:40vw;
  height:15vh;
  background-color: lightblue
}

.div3 {
  width:20vw;
  height:15vh;
  background-color: lightblue;
  display:flex;
  align-items: center;
  font-size: 1vw;
}

.link{
  text-decoration: none;
  color: black;
  margin-left:2vw;
}