.topbar {
  
  position: absolute;
  width: 100vw;
  height: 15vh;
  opacity: 0/5;
  display:flex;
  justify-content: space-between;
  color:white;
  backdrop-filter: blur(10px);
}

.div1 {
  width:10vw;
  height:15vh;
  
  font-size:2vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.div2 {
  width:40vw;
  height:15vh;
  color:white;
  
}

.div3 {
  width:20vw;
  height:15vh;
  color:white;
  display:flex;
  align-items: center;
  font-size: 1vw;
}

.link{
  text-decoration: none;
  color:white;
  margin-left:2vw;
}