.topmenu{
  width: 40vw;
  height: 15vh;
  display: flex;
}

.toplink{
  font-size: 2vw;
  text-decoration: none;
  color: white;
  width:40vw;
  height:15vh;
  display:flex;
  justify-content: space-around;
  align-items: center;

}